@import 'variables';
@import 'mixins';

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: $font-normal;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: $font-semibold;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: $font-bold;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
}
