@import 'variables';
@import 'mixins';

body {
  background: var(--color-background);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;
}
