@import 'variables';
@import 'mixins';

:root {
  --font-family: #{$font-family};
  --font-family-title: #{$font-family-title};
  --font-family-serif: #{$font-family-serif};
  --font-normal: #{$font-normal};
  --font-semibold: #{$font-semibold};
  --font-bold: #{$font-bold};
  --font-size-normal: 14px;
  --font-size-title-1: 50px;
  --color-background: #0A0A0A;
  --color-background-secondary: #303F9F;
  --color-background-tertiary: #141414;
  --color-background-tertiary-hover: #363636;
  --color-background-inverted: #fff;
  --color-text: #fff;
  --color-text-inverted: #000;
  --color-primary: #7681ca;
  --color-secondary: #aaaaaa;
  --color-bg-card: rgb(20, 20, 20);
  --color-smooth: #e2e2e2;
  --color-dark: #0a0a0a;
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
  --shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
}
