$font-family: 'Poppins', sans-serif;
$font-family-title: 'Questrial', sans-serif;
$font-family-serif: 'Lora', serif;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 600;

$color-salt-10: #ffffff;
$color-salt-20: #f4f5f6;
$color-salt-30: #e9eaec;
$color-salt-40: #aaaaaa;
$color-pepper-50: #303237;
$color-pepper-60: #25282c;
$color-pepper-70: #1c1e21;
$color-pepper-80: #151618;
$color-pepper-90: #141414;
$color-pepper-100: #0A0A0A;
$color-primary: #e89740;
$color-secondary: #a95801;
