.tag:not(.token) {
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-semibold);

  .icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    color: inherit;
  }

  & + .tag {
    margin-left: 20px;
  }
}
