@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

// Libs
@import "../../../../node_modules/flexboxgrid-sass/flexboxgrid.scss";

// Theme styles
@import '../../../assets/scss/theme';

// Commons styles
@import '../../../assets/scss/reset';
@import '../../../assets/scss/global';
@import '../../../assets/scss/fonts';
@import '../../../assets/scss/helpers';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/wysiwyg';

.layout {
  .footer {
    margin-top: 60px;
  }
}

.layout_aside {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  height: 60vh;

  .layout--display-aside-mobile & {
    display: block;
  }

  @include desktop {
    height: 100%;
    width: 30vw;
    display: block;
  }
}

.layout_main {
  display: block;
  position: relative;
  background: var(--color-background);
  z-index: 1;
  padding: 10px;

  .layout--display-aside-mobile & {
    margin-top: 60vh;
    padding-top: 50px;
  }

  @include tablet {
    padding: 20px;
  }

  @include desktop() {
    margin-left: 30vw;
    padding: 40px;

    .layout--display-aside-mobile & {
      margin-top: 0;
    }
  }
}
