@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

// Libs
@import "../../../../node_modules/flexboxgrid-sass/flexboxgrid.scss";

// Theme styles
@import '../../../assets/scss/theme';

// Commons styles
@import '../../../assets/scss/reset';
@import '../../../assets/scss/global';
@import '../../../assets/scss/fonts';
@import '../../../assets/scss/helpers';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/wysiwyg';

.layout {
  .profile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;
  }

  @include desktop {
    .profile {
      height: 100%;
      width: 30vw;
    }
  }
}
