.card {
  display: inline-block;
  position: relative;
  background: var(--color-background-secondary);
  border-radius: 5px;
  color: var(--color-text);
  box-shadow: var(--shadow);
  overflow: hidden;

  &--padding {
    padding: 50px 30px;
  }

  &--link {
    transition: 0.4s ease-in-out;
    transform: scale(1);
    cursor: pointer;

    &:hover {
      z-index: 1;
      transform: scale(1.03);
      box-shadow: var(--shadow-hover);
    }
  }
}

.card_title {
  font-size: 24px;
  font-weight: var(--font-semibold);
  word-wrap: break-word;
  color: inherit;
}
