.reactions {
  display: flex;
  width: 100%;
}

.reactions_item {
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;

  & + .reactions_item {
    margin-left: 10px;
  }
}

.reactions_button {
  display: block;
  width: 100%;
  background: var(--color-background-tertiary);
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  color: var(--color-text);
  font-size: 14px;
  line-height: 1;
  transition: all .2s;

  &:focus,
  &:hover {
    background: var(--color-background-tertiary-hover);
  }

  .reactions_item--selected & {
    background: var(--color-background-inverted);
    color: var(--color-text-inverted);
    box-shadow: var(--shadow);
  }
}

.reactions_number {
  margin-left: 5px;
}
