@import '../../../assets/scss/mixins';

.post-page {
  display: block;
  position: relative;
  background: var(--color-background);
  z-index: 2;
}

.post-page_aside {
  display: block;
  width: 100%;
  margin-top: 30px;

  .reactions {
    margin-bottom: 30px;
  }
}
