@import '../../../assets/scss/mixins';

.post-page {}

.post-page_inner {
  display: block;
  position: relative;
  background: var(--color-background);
  z-index: 2;

  @include tablet {
    padding: 20px;
  }

  @include desktop {
    margin-top: 0;
    margin-left: 30vw;
    padding: 40px;
  }
}

.post-page_aside {
  display: block;
  width: 100%;
  margin-top: 30px;

  .reactions {
    margin-bottom: 30px;
  }
}
