.project-card {
  display: block;
  position: relative;
  max-width: 600px;
}

.project-card_tags {
  margin-top: 20px;
}

.project-card_description {
  line-height: 1.5;

  .project-card_title + & {
    margin-top: 20px;
  }
}
