name: deploy

on:
  push:
    branches:
      - master
  issues:
    types:
      - closed
      - deleted

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - run: yarn install
      - run: yarn gatsby build --prefix-paths
      - run: ./.github/bin/deploy.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_ORGANISATION: ${{ secrets.GH_ORGANISATION }}
          GH_REPOSITORY: ${{ secrets.GH_REPOSITORY }}
